streamlit

# Utilities
numpy<2
pandas
scikit-learn

# Face recognition
dlib-bin
git+https://github.com/ageitgey/face_recognition_models

# Database
supabase
bcrypt

# QR + Image
segno
pillow

# Voice
librosa
resemblyzer
webrtcvad

# Build tools
setuptools==80.9.0
wheel